.btn-primary {
    padding: 1rem;
    margin-left: 0.5rem;
}


.form-control {
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    display: block;
}

div {
    margin: 1rem;
}


/*
@meida screen permite q cuando pase de tantos pixeles se modifique el css. en este caso a mas de 1024 px se divide el article en 2 columnas y dispone el display en modo grilla
se usa para tener una opcion de paginas reactivas.
*/
@media screen and (min-width: 1024px) {
    .grid-1-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 2rem;
    }
}